{
   logger {
      # This format includes timestamp, level, thread (fiberId), message, and cause
      format = "%label{timestamp}{%fixed{32}{%timestamp}} %label{level}{%level} %label{thread}{%fiberId} %label{class}{%name:%line} %label{message}{%message} %label{cause}{%cause}"
      # log filter
      filter {
         # rootLevel sets the minimum level of log messages that will be displayed
         rootLevel = INFO
      }
   }

   defaultAWSRegion = "af-south-1"

   postgres {
      # The JDBC driver class
      dataSourceClass=org.postgresql.Driver
      serverName=localhost
      # set to non-default port, to avoid local collision
      portNumber=5432
      databaseName=atum_db
      user=atum_user
      password=changeme
      # maximum number of connections that HikariCP will keep in the pool, including both idle and in-use connections
      maxPoolSize=10

      # Keys listed here can be overridden by AWS secrets if the are defined. Format is `configuration.key' = "overriding.secret.name"
      # only string fields can be overridden
      fromSecrets = {
        # connectionPool = ""
        # dataSourceClass = ""
        # properties.serverName = ""
        # properties.portNumber = ""
        # properties.databaseName = ""
        # properties.user = "pg-"
        properties.password = ""
        # `numThreads` cannot be override from secrets as it's not a string
      }
   }
}
