#
# Copyright 2021 ABSA Group Limited
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

name: Build All Modules

on:
  pull_request:
    branches:
      - '**'
    types: [ opened, synchronize, reopened ]

jobs:
  test-agent-reader-and-model:
    name: Test Agent, Reader and Model
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          fetch-depth: 1
          persist-credentials: false
      - uses: coursier/cache-action@bebeeb0e6f48ebad66d3783946588ecf43114433

      - name: Setup Scala
        uses: olafurpg/setup-scala@32ffa16635ff8f19cc21ea253a987f0fdf29844c
        with:
          java-version: "adopt@1.8"

      - name: Build and run tests
        run: sbt testAll

      - name: Generate documenation
        run: sbt doc

  test-database-and-server:
    name: Test Database and Server
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_PASSWORD: changeme
          POSTGRES_DB: atum_db
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          fetch-depth: 1
          persist-credentials: false
      - uses: coursier/cache-action@bebeeb0e6f48ebad66d3783946588ecf43114433

      - name: Setup Scala
        uses: olafurpg/setup-scala@32ffa16635ff8f19cc21ea253a987f0fdf29844c
        with:
          java-version: "adopt@1.11.0-11"

      - name: Build and run unit tests
        run: sbt "project database" test "project server" test

      - name: Prepare testing database
        run: sbt flywayMigrate

      - name: Build and run integration tests
        run: sbt "project database" testIT "project server" testIT

      - name: Generate documentation
        run: sbt "project database" doc "project server" doc

