#
# Copyright 2021 ABSA Group Limited
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

name: Test Filenames Check

on:
  pull_request:
    branches: [ master ]
    types: [ opened, synchronize, reopened ]

jobs:
  test_filenames_check:
    name: Test Filenames Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          persist-credentials: false

      - name: Filename Inspector
        id: scan-test-files
        uses: AbsaOSS/filename-inspector@355108975e656fac9faaa04209b6df3f9997c8fa
        with:
          name-patterns: '*UnitTests.*,*IntegrationTests.*,*CompatibilityTests.*'
          paths: '**/src/test/scala/**'
          report-format: 'console'
          excludes: |
            server/src/test/scala/za/co/absa/atum/server/api/TestData.scala,
            server/src/test/scala/za/co/absa/atum/server/api/TestTransactorProvider.scala,
            server/src/test/scala/za/co/absa/atum/server/ConfigProviderTest.scala,
            model/src/test/scala/za/co/absa/atum/testing/*,
            reader/src/test/scala/za/co/absa/atum/testing/*
          verbose-logging: 'false'
          fail-on-violation: 'true'
